extends layout

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js')
  script.
    window.addEventListener('load', function() {
      axios.get('/property/details', { 
          params: {
            address: '123 Main St',
            zipcode: 65432
          }
        }).then((resp) => {
          console.log(resp);
        });
    })

block content
  h1= title
  p Welcome to #{title}

